* {
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: bold;
}

/* Header */

.header {
  color: white;
  background-image: url(images/the-flatiron-building.png);
}

h1 {
  font-size: 70px;
}

.header p {
  font-size: 18px;
}

/* Process */

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.process p {
  font-size: 14px;
}
